{% extends "AheGsbBundle::layout.html.twig" %}
{% block body %}
{% block bloc1 %}
<br>
<div class="col-md-3">
    <fieldset class="accueil">
        <table>
            <tr>
                <td>
                    <h2> Bienvenue {{ app.session.get('nom') }} 
                       {{ app.session.get('prenom') }}
                    </h2> 
                </td>
                <td>
                    <h2> Gestion des Fiches de Frais </h2>
                </td>
                <td>
                    <h3>
                    <a href="{{ path('gsb_visiteurs_deconnexion') }}" 
                        accesskey=""title="Déconnexion">
                        Se déconnecter
                    </a> 
                    </h3>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
{% endblock %}


<h3>Consultation de la fiche de frais du mois {{numMois}}-{{numAnnee}} : 
</h3>
    <div class="forfait">
        <fieldset><legend> Frais forfaitisés </legend>
            <table border='1' style='background-color: #F5DA81'>
  	    <tr>
                {% for unFrais in lesFraisForfait %}
                    {%   set libelle = unFrais.libelle %}
                    <th> {{libelle}}</th>
                {% endfor %}  
            </tr>
            <tr>
                {% for unFrais in  lesFraisForfait %}
                    {%   set quantite = unFrais.quantite %}
                    <td >{{quantite}} </td>
                {% endfor %}  
            </tr>
            </table>
        </fieldset>
    </div>
    <br/>
    <div class="forfait">
        
        <fieldset><legend>Frais hors forfait</legend>
                    <table border='1' style='width: 50%;background-color: #F5DA81;text-align: center'>
                        <tr>
                            <th>date </th>
                            <th> Libellé</th>
                            <th>Montant</th>
                        </tr>
                        

                        {% for item in fraishf %}
                            <tr>
                                <td> {{item['date']|date('d-m-Y')}}</td>
                                <td> {{item['libelle']}}</td>
                                <td> {{item['montant']}}</td>
                                
                                
                                <td><table style='width: 100%;text-align: center; '> 
                                        <tr>
                                            <td>
                                                <a href="{{ path('gsb_visiteurs_modfhf', {'id': item['id'] }) }}" accesskey=""title="Modification">Modifier</a>
                                            </td>
                                        </tr>
                                </td>
                        </table>
                            <tr>
                        {%else%}
                                <tr><td colspan="4" style='text-align:center;font:18px Arial bold;'>Vous n'avez pas de frais hors forfait </td></tr>
                        {%endfor%}
                    </table>
            </fieldset>
     </div>
        <a href="{{ path('gsb_consultation_frais') }}" >
            Autre Fiche
        </a> 
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "{{ path('gsb_homepage_visiteurs') }}"> 
            Accueil Visiteurs
        </a>
        
{% endblock %}