{% extends "AheGsbBundle::layout.html.twig" %}
{% block body %}
   {% block bloc1 %}
<br>
<div class="col-md-3">
    <fieldset class="accueil">
        <table>
            <tr>
                <td>
                    <h2> Bienvenue {{ app.session.get('nom') }} 
                       {{ app.session.get('prenom') }}
                    </h2> 
                </td>
                <td>
                    <h2> Gestion des Fiches de Frais </h2>
                </td>
                <td>
                    <h3>
                    <a href="{{ path('gsb_visiteurs_deconnexion') }}" 
                        accesskey=""title="Déconnexion">
                        Se déconnecter
                    </a> 
                    </h3>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
{% endblock %}
      
            <div class="corpsForm">  
                <form action="{{ path('gsb_saisie_fraishf') }}" method="POST">
                <fieldset>
                    <legend>Nouveau frais Hors Forfait</legend>
                        <p style='text-align:center;'>
                             <label class="col-md-offset-1 col-lg-3" 
                                   for="libelle"> 
                                Libellé :
                            </label>
                              <input type="text" id="libelle" 
                                   name="libelle" 
                                   
                                   value="{{libelle}}" >
                              <br>
                            <label class="col-md-offset-1 col-lg-3" 
                                   for="date"> 
                                Date :
                            </label>
                             <input type="date" id="date" 
                                   name='date' 
                                   
                                   value="{{date|date('Y-m-d')}}" >
                             <br>
                             
                               <label class="col-md-offset-1 col-lg-3" 
                                   for="montant"> 
                                Montant :
                            </label>
                            <input type="text" id="montant" 
                                   name="montant" 
                                  
                                   value="{{montant}}" >
                        </p>
                    <hr>
                    <input class ="btn-success" type="submit" value="Valider" 
                           name="valider">
                </fieldset>
                </form>
                    <br>
       
        <a href = "{{ path('gsb_homepage_visiteurs') }}"> 
            Accueil Visiteurs
        </a>
           
               
            </div>    
        

        <a href="/">  </a>
    </div>
{% endblock %}