{% extends "AheGsbBundle::layout.html.twig" %}
{% block body %}
{% block bloc1 %}
<br>
<div class="col-md-3">
    <fieldset class="accueil">
        <table>
            <tr>
                <td>
                    <h2> Bienvenue {{ app.session.get('nom') }} 
                       {{ app.session.get('prenom') }}
                    </h2> 
                </td>
                <td>
                    <h2> Gestion des Fiches de Frais </h2>
                </td>
                <td>
                    <h3>
                    <a href="{{ path('gsb_visiteurs_deconnexion') }}" 
                        accesskey=""title="Déconnexion">
                        Se déconnecter
                    </a> 
                    </h3>
                </td>
            </tr>
        </table>
        
            
    </fieldset>
﻿    <div class="col-md-offset-9">
      <form method="post">
         
	<div class="listeMois"> 
                <label  for="lstMois" accesskey="n">Sélectionner la période : </label>
               <select name="lastMois">
                    {% for item in listeMois %}
                        {% set mois = item.mois %}
                        {% set numAnnee = item.numAnnee %}
                        {% set numMois =  item.numMois %}
                            <option value="{{ mois }}"> {{ numMois }}/{{ numAnnee }} </option>
                    {% endfor %}
                </select>
        

        <div class="buttonsListeMois">
                <input id="ok" type="submit" value="Valider" size="20" />
                <input id="annuler" type="reset" value="Effacer" size="20" />
        </div>
        </div>
      </form>
   {% endblock %}
{% endblock %}